.btn{
  padding: 20px 29px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
.btn-primary{
  background-color: $colorOne;
}

.btn-secondary{
  background-color: $colorTwo;
  width: 100%;
}

.shopping_btn{
  background-image: url(~images/shopping_cart.svg);
}
.search_btn{
  background-image: url(~images/search.svg);
  border-radius: 0px 4px 4px 0px;
  
}