.btn {
	padding: 20px 29px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	&:active {
		transform: scale(0.97);
	}
}

.btn-primary {
	background-color: $colorOne;
	&:hover {
		background-color: rgba($colorOne, 0.9);
	}
}

.btn-secondary {
	background-color: $colorTwo;
	width: 100%;
	&:hover {
		background-color: rgba($colorTwo, 0.9);
	}
}

.shopping_btn {
	background-image: url(~images/shopping_cart.svg);
}
.search_btn {
	background-image: url(~images/search.svg);
	border-radius: 0px 4px 4px 0px;
}