.input-container {
	input {
		padding: 0 10px;
		background-color: $colorWhite;
		border: none;
		font-size: 16px;
	}
	input.white {
		background-color: $colorWhiteDOS;
	}
	input:focus-visible {
		outline: none !important;
		border: 2px solid $colorOne;
		border-radius: 3px;
	}
}
.input-container.mobile {
	display: none;
}
.input-container.desktop {
	display: flex;
}
@media screen and (max-width: 570px) {
	.input-container.mobile {
		display: flex;
	}
	.input-container.desktop {
		display: none;
	}
}
