.modal.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: block;
}
body.no-scroll {
	overflow: hidden;
}
.modal {
	display: none;
	background: rgba(0, 0, 0, 0.5);
	z-index: 120;
	.modal-content {
		position: absolute;
		right: 0;
		width: 35%;
		height: inherit;
		background: $colorWhite;
		padding: 0px 20px 0px 20px;
	}
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
	::-webkit-scrollbar-track {
		background-color: rgba($colorOne, 0.1);
	}
	::-webkit-scrollbar-thumb {
		background: rgba($colorOne, 0.7);
		border-radius: 10px;
	}
}
.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	.title-modal {
		font-size: 26px;
		font-weight: 400;
		color: $colorOne;
	}
	.close_btn {
		width: 30px;
		height: 30px;
		background-image: url(~images/close.svg);
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 50%;
		background-color: $colorWhite;
		border: 1px solid $colorOne;
		&:hover {
			background-color: rgba($colorOne, 0.1);
		}
	}
}

.modal-body {
	height: calc(100% - 165px);
	min-height: 300px;
	overflow-y: auto;
	background-color: $colorWhiteDOS;
	border-radius: 10px;
	box-shadow: rgb(0 0 0 / 10%) 0px 11px 29px 0px;
	.modal-item {
		display: flex;
		box-sizing: content-box;
		align-items: center;
		justify-content: space-between;
		box-shadow: rgb(0 0 0 / 5%) 0px -1px 0px 0px inset;
		padding: 20px 10px;
		height: 64px;
		.modal-item-info {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: $colorOne;
			gap: 20px;
			img {
				width: 50px;
				height: 50px;
			}
			.modal-item-info-text {
				font-size: 18px;
				.price {
					font-weight: bold;
					font-size: 16px;
				}
			}
		}
		.modal-item-quantity {
			box-sizing: content-box;
			display: flex;
			align-items: center;
			border-radius: 10px;
			box-shadow: rgb(0 0 0 / 10%) 0px 11px 29px 0px;
			min-width: 170px;
			height: 40px;
			overflow: hidden;
			button {
				width: 100%;
				height: inherit;
				border: none;
				background-color: transparent;
				background-position: center;
				background-repeat: no-repeat;
				&:active {
					background-color: rgba($colorOne, 0.1);
				}
			}
			button.plus{
				background-image: url(~images/plus.svg);
			}
			button.minus{
				background-image: url(~images/minus.svg);
			}
			p {
				font-size: 18px;
				color: $colorOne;
				display: flex;
				width: 100%;
				min-width: 50px;
				max-width: 75px;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
.modal-body.noProducts{
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
}

// Media Queries
@media screen and (max-width: 1024px) {
	.modal {
		.modal-content {
			width: 45%;
		}
	}
}
@media screen and (max-width: 768px) {
	.modal {
		.modal-content {
			width: 50%;
		}
	}
}

@media screen and (max-width: 620px) {
	.modal {
		.modal-content {
			width: 100%;
			padding: 0px;
			.modal-header {
				padding: 5px 5px;
				height: 60px;
			}
			.modal-body {
				box-shadow: none;
				border-radius: 0px;
				height: calc(100% - 200px);
				.modal-item {
					padding: 25px 5px;
					.modal-item-info {
						gap: 20px;
					}
					.modal-item-info {
						.modal-item-info-text {
							font-size: 16px;
							.price {
								font-weight: bold;
								font-size: 16px;
							}
						}
					}
				}
			}
			.modal-footer {
				padding: 8px 15px;
			}
		}
	}
}
@media screen and (max-width: 375px) {
	.modal-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		height: 90px;
	}
	.modal {
		.modal-content {
			.modal-body {
				height: calc(100% - 190px);
				.modal-item {
					padding: 20px 5px;
					.modal-item-info {
						gap: 10px;
					}
					.modal-item-quantity {
						min-width: 140px;
					}
				}
			}
		}
	}
}
