@import './variables.scss';
@import './sections/header.scss';
@import './sections/footer.scss';
@import './components/btn.scss';
@import './components/input.scss';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $fontFamily;
}
body{
	background-color: $colorWhite;
}
.wrapper {
	max-width: 1158px;
	padding: 0px 15px;
  margin: auto;
}
